:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary: #FF0000;
    --primary-light: #FF00004D;
    --gray-1: #D1D1D1;
    --gray-2: #B2B2B2;
    --gray-3: #6A6A6A;
    --gray-4: #FFFFFF29;
    --gray-5: #FFFFFF33;
    --gray-6: #00000040;
    --gray-7: #00000066;
    --gray-8: #28272C;
}
.intro {}

.header {}
.header .header__inner {}

.logo {}
.logo .logo__img {}
.logo .logo__text {}
.logo .logo__text.logo__text--primary {}

.mainMenu {}
.mainMenu .mainMenu__item {}
.mainMenu .mainMenu__item.mainMenu__item--active {}

.hero {}
.hero .hero__hdl {}
.hero .hero__lead {}
.hero .hero__wrapper {}
.hero .hero__btn {}
.hero .hero__btn.hero__btn--primary {}
.hero .hero__btn.hero__btn--icon {}